<p>showtimelines works!</p>

<div data-test="timeline" *ngFor="let timeline of timelineList">

  <h2 data-test="timeline-name">{{timeline.timelineName}}</h2>
  <h3 data-test="timeline-type">{{timeline.timelineType}} </h3>

  <button data-test="btn-edit">Edit</button>
  <button data-test="btn-delete" (click)="deleteTimeline(timeline.timelineId)">Delete</button>


</div>

<mat-paginator [length]="noOfElements" [pageIndex]="pageNo" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"> </mat-paginator>



