
<div class="container">

    <div class="row">

        <h2 class="text-center">
            Add Important Date
        </h2>

        <div>

            <form class="form"  [formGroup]="formGroupAddImpDate" data-test="form-addimpdate" (ngSubmit)="onSubmit()" >


                <div class="form-group">
                    <input class="form-control my-3" type="date" placeholder="Important Date" data-test="input-impdate" formControlName="impdate">
                </div>

                <div class="form-group">
                    <input class="form-control my-3" type="text" placeholder="Title For the Date " data-test="input-imptitle" formControlName="imptitle">
                </div>

                <button  class="btn btn-primary my-3" data-test="btn-submit" type="submit" [disabled] = "!formGroupAddImpDate.valid">Submit</button>

            </form>

        </div>

    </div>

</div>